In [79]:
import pandas as pd
from pathlib import Path

In [80]:
#Import data
indices_data = Path('Datasets/INDICES_DATA.csv')
covid_data = Path('Datasets/owid-covid-data.csv')

#Read in data
indices_data_df = pd.read_csv(indices_data)
covid_data_df = pd.read_csv(covid_data)

/var/folders/tz/nqby0pvn6llfbd7c3rtk0k280000gn/T/ipykernel_58714/1921792112.py:6: DtypeWarning: Columns (1,2,3,4,5,6,8,9,10,11,12,13,15,16,17,18,19,20,22,23,24,25,26,27,29,30,31,32,33,34,36,37,38,39,40,41,43,44,45,46,47,48,50,51,52,53,54,55,57,58,59,60,61,62,64,65,66,67,68,69,71,72,73,74,75,76,78,79,80,81,82,83,85,86,87,88,89,90,92,93,94,95,96,97,99,100,101,102,103,104,106,107,108,109,110,111,113,114,115,116,117,118,120,121,122,123,124,125,127,128,129,130,131,132,134,135,136,137,138,139,141,142,143,144,145,146,148,149,150,151,152,153,155,156,157,158,159,160,162,163,164,165,166,167,169,170,171,172,173,174,176,177,178,179,180,181,183,184,185,186,187,188,190,191,192,193,194,195,197,198,199,200,201,202,204,205,206,207,208,209,211,212,213,214,215,216,218,219,220,221,222,223,225,226,227,228,229,230) have mixed types. Specify dtype option on import or set low_memory=False.
  indices_data_df = pd.read_csv(indices_data)

In [81]:
indices_data_df.head()

,Unnamed: 0,^GSPC,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,^IXIC,Unnamed: 9,...,Unnamed: 221,Unnamed: 222,Unnamed: 223,Unnamed: 224,^JN0U.JO,Unnamed: 226,Unnamed: 227,Unnamed: 228,Unnamed: 229,Unnamed: 230
0,Date,High,Low,Open,Close,Volume,Adj Close,NaN,High,Low,...,Close,Volume,Adj Close,NaN,High,Low,Open,Close,Volume,Adj Close
1,12/31/1996,753.9500122,740.7399902,753.8499756,740.7399902,399760000,740.7399902,NaN,1291.880005,1285.449951,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/2/1997,742.8099976,729.5499878,740.7399902,737.0100098,463230000,737.0100098,NaN,1293.630005,1272.339966,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/3/1997,748.2399902,737.0100098,737.0100098,748.0300293,452970000,748.0300293,NaN,1310.839966,1280.699951,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/6/1997,753.3099976,743.8200073,748.0300293,747.6500244,531350000,747.6500244,NaN,1321.469971,1310.630005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
covid_data_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [83]:
covid_data_df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
349978,ZWE,Africa,Zimbabwe,2023-10-14,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
349979,ZWE,Africa,Zimbabwe,2023-10-15,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
349980,ZWE,Africa,Zimbabwe,2023-10-16,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
349981,ZWE,Africa,Zimbabwe,2023-10-17,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
349982,ZWE,Africa,Zimbabwe,2023-10-18,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [84]:

covid_data_us = covid_data_df.loc[covid_data_df["location"] == "United States", :]
covid_data_us.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
329394,USA,North America,United States,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
329395,USA,North America,United States,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
329396,USA,North America,United States,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,-2771.0,-4.41,-4.41,-8.248447
329397,USA,North America,United States,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
329398,USA,North America,United States,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
329399,USA,North America,United States,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
329400,USA,North America,United States,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
329401,USA,North America,United States,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
329402,USA,North America,United States,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
329403,USA,North America,United States,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,24.6,NaN,2.77,78.86,0.926,338289856.0,-5332.6,-4.23,-4.06,-15.873573

In [85]:
covid_data_india = covid_data_df.loc[covid_data_df["location"] == "India", :]
covid_data_india.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
139730,IND,Asia,India,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139731,IND,Asia,India,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139732,IND,Asia,India,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139733,IND,Asia,India,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139734,IND,Asia,India,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139735,IND,Asia,India,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139736,IND,Asia,India,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139737,IND,Asia,India,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139738,IND,Asia,India,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
139739,IND,Asia,India,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN

In [86]:
covid_data_china = covid_data_df.loc[covid_data_df["location"] == "China", :]
covid_data_china.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
60942,CHN,Asia,China,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60943,CHN,Asia,China,2020-01-04,1.0,1.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60944,CHN,Asia,China,2020-01-05,1.0,0.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60945,CHN,Asia,China,2020-01-06,4.0,3.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60946,CHN,Asia,China,2020-01-07,4.0,0.0,NaN,NaN,0.0,NaN,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60947,CHN,Asia,China,2020-01-08,4.0,0.0,0.571,NaN,0.0,0.000,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60948,CHN,Asia,China,2020-01-09,4.0,0.0,0.571,NaN,0.0,0.000,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60949,CHN,Asia,China,2020-01-10,4.0,0.0,0.571,NaN,0.0,0.000,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60950,CHN,Asia,China,2020-01-11,4.0,0.0,0.429,NaN,0.0,0.000,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN
60951,CHN,Asia,China,2020-01-12,45.0,41.0,6.286,1.0,1.0,0.143,...,48.4,NaN,4.34,76.91,0.761,1.425887e+09,NaN,NaN,NaN,NaN

In [87]:

covid_data_us = covid_data_us[["location","date", "total_cases", "total_deaths", "population"]]
covid_data_us = covid_data_us.sort_values(by ='total_cases', ascending=False)
covid_data_us = covid_data_us.set_index('total_cases')
covid_data_us.head(10)

                  location        date  total_deaths   population
total_cases
103436829.0  United States  2023-10-18     1136920.0  338289856.0
103436829.0  United States  2023-07-01     1127152.0  338289856.0
103436829.0  United States  2023-07-08     1127152.0  338289856.0
103436829.0  United States  2023-07-07     1127152.0  338289856.0
103436829.0  United States  2023-07-06     1127152.0  338289856.0
103436829.0  United States  2023-07-05     1127152.0  338289856.0
103436829.0  United States  2023-07-04     1127152.0  338289856.0
103436829.0  United States  2023-07-03     1127152.0  338289856.0
103436829.0  United States  2023-07-02     1127152.0  338289856.0
103436829.0  United States  2023-06-30     1127152.0  338289856.0

In [88]:
covid_data_china = covid_data_china[["location","date", "total_cases", "total_deaths", "population"]]
covid_data_china = covid_data_china.sort_values(by='total_cases', ascending=False)
covid_data_china = covid_data_china.set_index('total_cases')
covid_data_china.head(10)

            location        date  total_deaths    population
total_cases
99315684.0     China  2023-10-18      121742.0  1.425887e+09
99315684.0     China  2023-10-17      121742.0  1.425887e+09
99315684.0     China  2023-10-16      121742.0  1.425887e+09
99315684.0     China  2023-10-15      121742.0  1.425887e+09
99315684.0     China  2023-10-14      121742.0  1.425887e+09
99315684.0     China  2023-10-13      121742.0  1.425887e+09
99315297.0     China  2023-10-12      121742.0  1.425887e+09
99315297.0     China  2023-10-11      121742.0  1.425887e+09
99315297.0     China  2023-10-10      121742.0  1.425887e+09
99315297.0     China  2023-10-09      121722.0  1.425887e+09

In [89]:
covid_data_india = covid_data_india[["location", "date", "total_cases", "total_deaths", "population"]]
covid_data_india =covid_data_india.sort_values(by='total_cases', ascending=False)
covid_data_india = covid_data_india.set_index('total_cases')
covid_data_india.head(10)

            location        date  total_deaths    population
total_cases
44999588.0     India  2023-10-18      532037.0  1.417173e+09
44999588.0     India  2023-10-17      532037.0  1.417173e+09
44999588.0     India  2023-10-16      532037.0  1.417173e+09
44999588.0     India  2023-10-15      532037.0  1.417173e+09
44999561.0     India  2023-10-14      532037.0  1.417173e+09
44999510.0     India  2023-10-13      532037.0  1.417173e+09
44999473.0     India  2023-10-12      532035.0  1.417173e+09
44999438.0     India  2023-10-11      532035.0  1.417173e+09
44999392.0     India  2023-10-10      532035.0  1.417173e+09
44999366.0     India  2023-10-09      532034.0  1.417173e+09

In [90]:
covid_data_df= covid_data_df[["location", "date", "total_cases", "total_deaths", "population"]]
covid_data_df =covid_data_df.sort_values(by='total_cases', ascending=False)
covid_data_df = covid_data_df.set_index('total_cases')
covid_data_df.head(10)

            location        date  total_deaths    population
total_cases
771407061.0    World  2023-10-17     6972139.0  7.975105e+09
771407061.0    World  2023-10-15     6972139.0  7.975105e+09
771407061.0    World  2023-10-18     6972139.0  7.975105e+09
771407061.0    World  2023-10-16     6972139.0  7.975105e+09
771405394.0    World  2023-10-14     6972084.0  7.975105e+09
771404217.0    World  2023-10-13     6972080.0  7.975105e+09
771401265.0    World  2023-10-12     6972045.0  7.975105e+09
771391354.0    World  2023-10-11     6972019.0  7.975105e+09
771378834.0    World  2023-10-10     6971988.0  7.975105e+09
771351375.0    World  2023-10-09     6971877.0  7.975105e+09

In [101]:
total_cases_by_country = covid_data_df.groupby('location')['total_cases'].max().sort_values(ascending=False)
top_10_countries = total_cases_by_country.head(10).reset_index()
top_10_countries.head(30)

KeyError: 'Column not found: total_cases'